


.form{
  margin: auto;
  margin-top: 50px;
  padding: 10px;

  width: 50%;
 

}
.splash{
 
  width: 100%;
  height: 95vh;


}
 /* profile image */
 .card-img{
 
  margin: auto;

  padding: 10px;
 

}

.cards{
  margin: auto;
  margin-top: 50px;
  padding: 10px;

  width: 50%;
 

}
